body		{background-color: #EEEEEE;}
em			{color: red;}

.main		{width: 90%; margin: auto; margin-top: 15px;}
.hd			{border-style: solid none; padding: 20px 10px 20px 10px; margin-bottom: 15px; text-align: left; font-size: 24px; font-family: Tahoma; font-weight: bold;}
.navi		{padding: 0px 10px 10px 10px; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-strat;}
.nbtn		{margin: 5px; font-weight: bold; border: 0;}
.currpg		{border-style: none none solid;}

@keyframes hdslide {
	from	{left: 65%;}
	to		{left: 0%;}
}
.hdani		{display:inline-block; position: relative; animation-name : hdslide; animation-duration: 1s;}

.contents	{margin: 10px;}
.row		{display: flex; flex-wrap: wrap;}
.producthd	{width: 100%; border-style: none none solid; padding: 30px 0px 10px 0px; margin-bottom: 15px; font-size: 22px; font-family: Tahoma; font-weight: bold;}
.product	{flex: 20%; max-width: 25%; margin: 4px 4px; border-style: solid; border-width: 1px;}
.ntc		{flex: 20%; max-width: 25%; margin: 4px 4px; border-style: solid; border-width: 1px;}

.fsignup	{margin: 30px 10px 10px 10px; text-align: left; font-size: 16px; font-family: Arial, Courier;}
.mybtn		{border-radius: 5px 5px 5px 5px; padding: 4px 8px; margin:auto; background-color: #000000; color: #EEEEEE; text-align: center; font-size: 14px;}
.mybtn:hover{background-color: #EEEEEE; color: #000000;}

@media (max-width: 800px) {
	.product	{flex: 48%; max-width: 50%;}
	.ntc		{flex: 48%; max-width: 50%;}
}

@media (max-width: 600px) {
	.product	{flex: 100%; max-width: 100%; margin: 4px 0;}
	.ntc		{flex: 100%; max-width: 100%; margin: 4px 0;}
}